
*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;
}
#header{
  color: gray;
  background-color: khaki;
  padding:0px 50px 0px 410px;
}
#header-img{
    background-color:#d3c15c;
    height: 400px;
    border: dotted #a22115 40px ;
     padding: 30px 50px 30px 290px;
}
.img{
    width: 500px;
    padding: 40px;
}
.border{
    border: inset 10px gold ;
    font-size: 30px;
    padding: 20px 250px ; 
    margin: 15px 200px ;
    background: rgb(207, 201, 201);
}
.border3{
    height: 100px;
    border-style: dotted solid dashed;
    border-width: 10px;
    font-size: 1.5rem;
}
#lorem{
   height: 290px;
   font-size: 15px;
}
.border-width{
    border: dashed rgb(57, 151, 93);
    border-width: 10px 20px 30px 10px;
    border-radius:  20px / 60px;
    background:burlywood;
    font-size: 1.5em;
}
.arrow{
    height: 0;
    width: 0;
    border: solid 40px;
    border-color: blue transparent transparent transparent;
}
.arrows{
    background: rgb(115, 30, 161);
    height: 30px;
    color: white;
    font-size: 1.6rem;
}
.arrow1{
     height: 0;
    width: 0;
    border: solid 40px;
    border-color: transparent transparent red transparent;
}
.arrow2{
    height: 0;
    width: 0;
    border-top: solid transparent 35vh;
    border-right: solid transparent 35vh;
    border-bottom: solid transparent 35vh;
    border-left: solid yellow 35vh;

}
.arrow3{

     height: 0;
    width: 0;
    border: solid 20px;
    border-color: black transparent transparent transparent;
}
.border4{
    background-color: rgb(221, 138, 138);
    height: 140px;
}
.text-decoration{
    text-decoration: none;
}
