
#header{
  color: gray;
  background-color: khaki;
}
#header-img{
    background-color:#a22115;
    height: 400px;
    border: dotted gold 40px ;
    border-radius: ;
}
.img{
    width: 500px;
    bor
}
.border{
    border: inset 10px gold ;
    
}
.border3{
    height: 100px;
    border-style: dotted solid dashed;
    border-width: 10px;
}
#lorem{
   height: 250px;
}
.border-width{
    border: dashed rgb(57, 151, 93);
    border-width: 10px 20px 30px 10px;
    border-radius:  20px / 60px;
    background:burlywood;
    font-size: 1.3em;
}
.arrow{
    height: 0;
    width: 0;
    border: solid 40px;
    border-color: blue transparent transparent transparent;
}
.arrows{
    background: rgb(115, 30, 161);
    height: 30px;
    color: white;
}

.arrow1{
     height: 0;
    width: 0;
    border: solid 40px;
    border-color: transparent transparent red transparent;
    

}
.arrow2{
    height: 0;
    width: 0;
    border-top: solid transparent 200px;
    border-right: solid transparent 200px;
    border-bottom: solid transparent 200px;
    border-left: solid yellow 200px;
}
.border4{
    background-color: rgb(221, 138, 138);
    height: 140px;
}
